/*
.leaflet-container-default {
    min-height: 800px
}
*/
.leaflet-container {  /* all maps */
#    width:  600px;
    height: 400px;
}

#specialbigmap {
    height: 400px;
}

/* Resize the "display_raw" textbox */
.django-leaflet-raw-textarea {
    width: 100%;
}
