{% extends "web/base.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
  <div class="features">
    <h1>{{title}}</h1>
    {% if roads %}
      {% for road in roads %}
        <div class="alert alert-warning">
          <h3><a href="{% url 'road_view' road.id %}">{{ road }} ({{ road.short_name }})</a></h3>
        </div>
      {% endfor %}
    {% else %}
      <p>Нет записей</p>
    {% endif %}
    <a href="{% url 'road_add' %}"><button class="btn btn-info">Добавить дорогу</button></a>
  </div>
{% endblock %}
