{% extends "main/base.html" %}

{% block title %} Станция {{station.name}} {% endblock %}

{% block content %}
  <div class="features">
    <h3>Станция {{station.name}} </h3>
    <h1>{{ station.name }}</h1>
    <p>{{ station.name }} {{ station.short_name }} {{ station.kod }}</p>
    <a href="{% url 'station' %}"><button class="btn btn-info">Вернуться в список</button></a>
    <a href="{% url 'station-update' station.id %}"><button class="btn btn-warning">Изменить</button></a>
    <a href="{% url 'station-delete' station.id %}"><button class="btn btn-danger">Удалить</button></a>
  </div>
{% endblock %}
