{% extends "main/base.html" %}

{% block title %} Станция-добавить{% endblock %}

{% block content %}
  <div class="features">
    <h1>Станция-добавить</h1>
<!--
    <form method="post" action="region_check">
method post
action region_check - по этой ссылке действие по проверкн, добавить в urls
или без action проверка на страце формы в методе views.region_add



form conrol - от бутстрапа
-->
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-success" type="submit">Сохранить</button>
    </form>
  </div>
{% endblock %}
