{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Про100учет - Простой учет для отдела СТО">
<title>{% block title %}Главная{% endblock %} - Про100учет</title>
{% block head %}{% endblock %}
<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
<link rel="stylesheet" href="{% static 'main/css/nav.css' %}">
<!--disabled in debug link rel="stylesheet" href="{% static 'style.css' %}"-->
</head>
<body>
{% include "web/nav.html" %}
<div id="content">
{% block content %}{% endblock %}
</div>
</body>
</html>
