{% extends "web/base.html" %}
{% load django_bootstrap5 %}
{% block title %}Вход{% endblock %}
{% block content %}
{% if user.is_authenticated %}
{% bootstrap_alert "Вы уже выполнили вход." alert_type='info' %}
{% else %}
<form method="post">
    {% csrf_token %}
    {#% bootstrap_form form layout=’horizontal’ %#}
    {% bootstrap_form form %}
    {% bootstrap_button "Войти" button_type="submit" button_class="btn-success" %}
    {% bootstrap_button "Отмена" button_type="reset" button_class="btn-info" %}
    <input type="hidden" name="next" value="/">
    <a href="{% url 'password_reset' %}" {% bootstrap_button "Забыл пароль" button_class="btn-warning" %}</a>
</form>
{% endif %}
{% endblock %}
